html {
    font: 20px Arial;
    color: midnightblue;
    text-align: center;
    position: relative;
   

  }
h1 {
    position: relative;
    top: 50px;
}

div h5{
    position: relative;
    display: inline-block;
    color: mediumblue;
}  

div h3, li{
    position: relative;
    left: 650px;
    text-align: left;
    top: 150px;
    
}  
p {
    width: 600px;
    display: inline-flex;
    text-align: left;
}
body {
    background-color: white;
    width: 750px;
    position: relative;
    right: 25px;
    display: inline-block;

}
  
.container {
    background-color: black;
    width: 800px;
    position: relative;

}  

#container_2{
    position: relative;
    right: 200px;
}

del {
    color: firebrick;
}
img {
    max-width: 50%;
    max-height: 50%;
}
